body 
{
	background-color: white;
	/* papayaWhip; */
	font-family: Verdana;
	size: 12px;
}

.list
{
	color: rebeccapurple;
	font-family: Papyrus;
	font-weight: bold;
}



.box
{
	display: flex;
	justify-content: space-around;
	margin: 5px;
	padding: 20px;
	
}

.box-shadow
{
	/* box-shadow: 5px 5px goldenrod; */
	box-shadow: 5px 5px #894873;
}
.box-border
{
	/* border: solid burlywood; */
	border: solid #894873;
}
.box-color
{
	background-color: papayawhip;
}
.menu {
	align-self: center;
	padding: 30px 50px 30px 50px;
	border: thick double #894873; 
	 /* goldenrod; */
	width: 500px;
	height: 333px;
	text-align: center;
	background-color: moccasin;
	background-image: url("../images/paper2.png");
}

.papyrus
{
	font-family: Papyrus;
}

/* styling of forms  */
.form
{
	border: solid #894873;
	background-color: moccasin;
	color: #894873;
	padding: 2px 5px;
	margin: 4px;
	
} 
.label
{
	/* background-color: white; */
	border: none;
}

/* for scaling in menu part  */
@media all and (max-width: 1100px){
	.menu-img
	{
		display: none;
	}

	#breakfast-list
	{
		background-image: url("../images/breakfast.png");
		background-blend-mode: overlay;
		background-color: papayawhip;
		/* papayaWhip; */
	}
	#lunch-list
	{
		background-image: url("../images/lunch.png");
		background-blend-mode: overlay;
		background-color: papayaWhip;
	}
	#dinner-list
	{
		background-image: url("../images/dinner.png");
		background-blend-mode: overlay;
		background-color: papayaWhip;
		
	}
	#drinks-list
	{
		background-image: url("../images/drinks.png");
		background-blend-mode: overlay;
		background-color: papayaWhip;
	}
	#desserts-list
	{
		background-image: url("../images/icecream.png");
		background-blend-mode: overlay;
		background-color: papayaWhip;
	}
}

